.menu-button {
  display: inline-block;
  padding: 10px;
  margin-right: 5px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.menu-button:hover {
  background-color: #88bd9e;
  color: #000;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

.menu-button.active {
  background-color: #88bd9e;
  color: #000;
}

#menu {
  background-color: #797474;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border-radius: 8px;
  /* Avrundade hörnor med radie 8px */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-bottom: 10px;
}

#user-button {
  left: auto;
  position: fixed;
  right: 10px;
}

#logOut-button {
  left: auto;
  position: inherit;
  margin-top: 10px;
  right: auto;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #b8b8b8;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: auto;
  right: 10px;
  height: 100px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  align-items: center;
  justify-content: center;
}