body {
    background: #3586ff;
}

.table {
    width: 100%;
    border-collapse: collapse;
    z-index: 999;
}

.table th,
.table td {
    padding: 10px;
    text-align: center;
    z-index: 10;
}

.table thead {
    background-color: #f1f1f160;
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f960;
}

.table tbody tr:hover {
    background-color: #e8e8e840;
}

.table-responsive {
    margin-top: 20px;
    overflow-x: auto;
    z-index: 5;
    position: relative;
}


.FlexElement {
    width: 300px;
    height: 300px;
    border-radius: 8%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 2px 6px rgba(0, 0, 0, 0.23);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#flexAdd {
    width: 200px;
    height: 200px;
}

#flexCounters {
    border-radius: 50%;
}

.FlexElement h2 {
    font-size: 80px;
    margin: 0;
}

.timeCard {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    visibility: hidden;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 90;
  }
  
  .popup-content {
    background-color: #fff;
    width: 300px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 10px;
  }
  
  .popup .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .popup h3 {
    text-align: center;
  }
  
  .popup input[type="number"] {
    display: block;
    margin: 10px auto;
  }
  
  .popup button {
    display: block;
    margin: 0 auto;
  }

  .button-tabel-item {
    border-radius: 10px;
    width: 40px;
    height: 40px;
    margin: -8px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    z-index: 20;
  }

  .tabel-item-buttons {
    display: flex;
    right: 0px;
    position:relative;
    float: right;
  }

  .button-tabel-item:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.452);
  }


  section{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 20vh;
    background: #3586ff00;
    overflow: hidden;
  }
  section .air{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(/image/wave.png);
    background-size: 1000px 100px
  }
  section .air.air1{
    animation: wave 30s linear infinite;
    z-index: 4;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
  }
  section .air.air2{
    animation: wave2 15s linear infinite;
    z-index: 3;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
  }
  section .air.air3{
    animation: wave 30s linear infinite;
    z-index: 2;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
  }
  section .air.air4{
    animation: wave2 5s linear infinite;
    z-index: 1;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
  }
  @keyframes wave{
    0%{
      background-position-x: 0px; 
    }
    100%{
      background-position-x: 1000px; 
    }
  }
  @keyframes wave2{
    0%{
      background-position-x: 0px; 
    }
    100%{
      background-position-x: -1000px; 
    }
  }